<ion-view title="Animes" id="page80">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>

    <ion-content padding="false" class="has-header">
        
        <ion-list>
            <ion-item class="item-thumbnail-left item-text-wrap" collection-repeat="anime in animes" ui-sref="animeinfo({id: anime.id})">
                <img ng-src="https://cdn.appanimeplus.tk/img/{{anime.category_image}}" />
                <h2>{{anime.category_name}}</h2>
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>